---
layout: default
---

<div id="contentPostList">

  <h1>Recent posts</h1>
    
  	{% for tag in site.tags %}
  	{% assign t = tag | first %}
 	{% assign posts = tag | last %}
	
    
	<ul id="tagList">
  	<li id={{ t }}><a href=""> {{ t }} </a></li>
   	</ul>
    
    <ul id="tagListPosts">
		{% for post in posts %}
  			{% if post.tags contains t %}
  			<li>
    			<a href="{{ post.url }}">{{ post.title }}</a>
    			<p>{{ post.date | date: "%B %-d, %Y"  }}</p>
  			</li>
  			{% endif %}
		{% endfor %}
	</ul>
    
    {% endfor %}
    
</div>
