<kura class="gwd-div-jvg1">

    <img src="{{ site.baseurl }}/images/kuraA/ziemia.png" class="gwd-img-1pj3" id="ziemia" style="">
    <div class="gwd-div-1i9y gwd-gen-196xgwdanimation" id="kura">
      <div class="gwd-div-1lyr gwd-gen-1tiogwdanimation" id="nogaL">
        <img src="{{ site.baseurl }}/images/kuraA/udoL.png" class="gwd-img-4qop" id="udoL">
        <div class="gwd-div-1p73 gwd-gen-1vyqgwdanimation" id="golenml">
          <img src="{{ site.baseurl }}/images/kuraA/golenL.png" class="gwd-img-12ff" id="golenL">
          <img src="{{ site.baseurl }}/images/kuraA/stopaL.png" class="gwd-img-vh7c" id="stopaL">
        </div>
      </div>
      <div class="gwd-div-1nsy gwd-gen-1xjwgwdanimation" id="nogaP">
        <img src="{{ site.baseurl }}/images/kuraA/udoP.png" class="gwd-img-izcg" id="udoP">
        <div class="gwd-div-16je gwd-gen-g6ymgwdanimation" id="golenm">
          <img src="{{ site.baseurl }}/images/kuraA/golenP.png" class="gwd-img-ah2x" id="golenP">
          <img src="{{ site.baseurl }}/images/kuraA/stopaP.png" class="gwd-img-1kex" id="stopaP">
        </div>
      </div>
      <div class="gwd-div-1sfk gwd-gen-1gqggwdanimation" id="glowa">
        <img src="{{ site.baseurl }}/images/kuraA/kura.png" class="gwd-img-piko" id="tlow">
        <div class="gwd-div-1eek gwd-gen-1pvwgwdanimation" id="okoall">
          <img src="{{ site.baseurl }}/images/kuraA/oko.png" class="gwd-img-qw68" id="oko">
          <img src="{{ site.baseurl }}/images/kuraA/zrenica.png" class="gwd-img-y4m5" id="zrenica">
        </div>
      </div>
    </div>

  
</kura>

